/* Global */
* {
  font-family: "Arabic Dubai" !important;
  font-weight: 500;
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  direction: rtl;
}

.wrapper {
  background-image: url("../img/logo.png");
  background-repeat: repeat;
  background-size: 60px;
  min-height: 100vh;
}
.wrapper-container {
  background-color: rgb(255, 255, 255, 0.7);
}

/* Dubai Font */
@font-face {
  font-family: "Arabic Dubai";
  src: url("../fonts/dubai_fonts/DubaiW23-Regular.eot") format("eot");
  src: url("../fonts/dubai_fonts/DubaiW23-Regular.ttf") format("ttf");
  src: url("../fonts/dubai_fonts/DubaiW23-Regular.woff") format("woff");
  src: url("../fonts/dubai_fonts/DubaiW23-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Arabic Dubai";
  src: url("../fonts/dubai_fonts/DubaiW23-Medium.eot") format("eot");
  src: url("../fonts/dubai_fonts/DubaiW23-Medium.ttf") format("ttf");
  src: url("../fonts/dubai_fonts/DubaiW23-Medium.woff") format("woff");
  src: url("../fonts/dubai_fonts/DubaiW23-Medium.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Arabic Dubai";
  src: url("../fonts/dubai_fonts/DubaiW23-Bold.eot") format("eot");
  src: url("../fonts/dubai_fonts/DubaiW23-Bold.ttf") format("ttf");
  src: url("../fonts/dubai_fonts/DubaiW23-Bold.woff") format("woff");
  src: url("../fonts/dubai_fonts/DubaiW23-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Arabic Dubai";
  src: url("../fonts/dubai_fonts/DubaiW23-Light.eot") format("eot");
  src: url("../fonts/dubai_fonts/DubaiW23-Light.ttf") format("ttf");
  src: url("../fonts/dubai_fonts/DubaiW23-Light.woff") format("woff");
  src: url("../fonts/dubai_fonts/DubaiW23-Light.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
}
.ne_font {
  font-family: "Arial" !important;
}

.fas,
.fal,
.far,
.fab {
  font-family: "Font Awesome 5 Brands" !important;
}

input,
button {
  outline: none !important;
  border: none;
  background: none;
}

button {
  cursor: pointer;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none !important;
  cursor: pointer;
  color: #000;
}

ul {
  margin-bottom: 0;
}

.btn,
.btn-line:after,
.nav-content,
nav,
.icon-arrow-right:before,
.nv-link,
.qa-row .answer-body,
.wwd-clickable:after,
.wwd-clickable .icon {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.navbar-container,
.wwd-dropdown {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.gradient-easing {
  background-image: linear-gradient(
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.00709) 10.47%,
    rgba(0, 0, 0, 0.02755) 19.56%,
    rgba(0, 0, 0, 0.06016) 27.58%,
    rgba(0, 0, 0, 0.1037) 34.81%,
    rgba(0, 0, 0, 0.15697) 41.57%,
    rgba(0, 0, 0, 0.21875) 48.13%,
    rgba(0, 0, 0, 0.28782) 54.79%,
    rgba(0, 0, 0, 0.36296) 61.85%,
    rgba(0, 0, 0, 0.44297) 69.61%,
    rgba(0, 0, 0, 0.52662) 78.36%,
    rgba(0, 0, 0, 0.6127) 88.39%,
    rgba(0, 0, 0, 0.7)
  );
  bottom: 0;
  right: 0;
  left: 0;
}
.dir-ltr {
  direction: ltr;
}
.dir-rtl {
  direction: rtl;
}
.width-fluid {
  width: 100%;
}
.height-fluid {
  height: 100%;
}
.white-color {
  color: #ffffff !important;
}
.main-color {
  color: #3b79a7;
}
.gray-color {
  color: #898989;
}
.pink-color {
  color: #d0086b !important;
}
.form-group {
  border: 1px solid #000;
}
.form-control {
  display: block;
  color: #666666;
  font-size: 18px;
  background: none;
  font-weight: 400;
  padding: 10px;
  height: auto;
  border-radius: 0;
  border: none;
}
.form-control::placeholder {
  color: #666666;
  font-size: 16px;
  font-weight: 500;
}
.form-control:hover {
  outline: none;
}
.form-control:active {
  outline: none;
}
.form-control:focus {
  outline: none;
  background: none;
  border: none;
}

input[type="file"] {
  opacity: 0;
  z-index: 20;
  top: 0;
  left: 0;
}

.circle {
  border-radius: 100% !important;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: #333;
}
.divider .divider-text {
  background: #fff;
  color: #808080;
  display: inline-block;
  padding: 3px 5px;
  top: 50%;
  left: 50%;
  font-size: 14px;
  transform: translate(-50%, -50%);
}
.title {
  font-weight: 600;
  font-size: 27px;
}
.sm-title {
  font-weight: 600;
  font-size: 20px;
}
.sub-title {
  font-size: 26px;
  color: #454141;
  font-weight: 600;
  line-height: 1.6;
}
.text {
  font-size: 15px;
  line-height: 1.2;
}
.container-fluid {
  padding-left: 50px;
  padding-right: 50px;
}
.overlay {
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}
.nml-line {
  margin: 0;
  padding: 0;
  height: 0.5px;
  background: #c9c9c970;
  margin: 70px 0;
}
.line-vertical {
  width: 1px;
  height: 48px;
  margin: 30px auto;
}
small {
  color: #333;
  font-weight: 600;
}
.body-text {
  font-weight: 600;
  font-size: 21px;
  color: #343434;
  line-height: 1.6;
}

.divider {
  height: 0.5px;
  background-color: #989898;
}
.bg-title {
  color: #3d519a;
  font-weight: bold;
  line-height: 1;
  font-size: 40px;
}

/** Buttons **/
.btn-corner {
  border: 1px solid #3d519a;
  color: #3d519a !important;
  border-radius: 50px;
  display: inline-block;
  padding: 7px 25px;
  line-height: 1;
}
.btn-div-df {
  display: flex;
  align-items: center;
}
.btn-corner-text {
  font-size: 18px;
  font-weight: 600;
}
.btn-corner-div .icon {
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}
.btn-corner:hover {
  background-color: #3d519a;
  color: #fff !important;
}
.btn-corner:active {
  background-color: #2d3d76;
  border: 1px solid #2d3d76;
  color: #fff !important;
}
.main-normal-btn {
  color: #4b4b4b;
  font-size: 18px;
  display: inline-block;
}
.main-normal-btn:hover {
  color: #61a2d7;
}
.main-normal-btn .icon {
  font-weight: 600;
  margin-right: 9px;
  font-size: 21px;
}
.main-normal-btn:active {
  opacity: 0.6 !important;
}

.btn {
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}
.btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
}
/** Buttons **/
.page-header-view {
  width: 100%;
  height: 507px;
}
/* Global */

/* Navbar */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  padding: 12px 0;
  background: #fff;
  box-shadow: 0px 2px 2px #00000017;
}
.vertical-line {
  font-size: 22px;
  color: #fff;
}
nav.active {
  background: #000;
}
.navbar {
  display: flex;
  align-items: center;
  padding: 0;
  justify-content: space-between;
}
.nav-btns .us .ls-btn {
  font-size: 28px;
  padding: 3px;
  color: #fff;
}
.nav-btns .us .ls-btn span:before,
.change-lang-btn {
  color: #454545;
}
.lang-span {
  margin: 0 6px;
  font-size: 20px;
  display: block;
  line-height: 1;
  margin-top: 3px;
}
.change-lang-btn .icon {
  font-size: 28px;
  font-weight: 600;
}
.nav-links {
  display: flex;
}
.nav-links-content {
  display: flex;
}
.nav-link {
  margin: 0 10px;
  color: #393838;
  font-size: 23px;
  padding: 0.5rem 0.4rem;
  font-weight: 600;
}
.nav-link.active,
.nav-link:hover {
  color: #61a2d7;
}
.nav-logo a {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #fff;
  font-size: 30px;
}
.nav-logo span {
  font-weight: bold;
  font-size: 39px;
  line-height: 1;
}
.nav-logo .logo-title {
  margin-left: -8px;
}
.menu-btn {
  width: 38px;
  height: 20px;
  position: relative;
  display: none;
  cursor: pointer;
  margin-right: 11px;
}
.menu-btn.active .toggleMenu {
  display: none;
}
.menu-btn .icon-exit-menu {
  display: none;
}
.menu-btn.active .icon-exit-menu {
  display: block;
}
.icon-exit-menu .icon {
  font-weight: bold;
  font-size: 24px;
}
.menu-btn > div {
  height: 100%;
  display: flex;
  align-content: space-between;
}
.menu-btn span {
  background: #000;
  height: 2px;
  position: absolute;
  right: 0;
  display: block;
}
.bottom-bar {
  /* width: 30%; */
  width: 100%;
  bottom: 0;
}
.middle-bar {
  width: 100%;
  top: 46%;
}
.top-bar {
  top: 0;
  width: 100%;
}
.nav-logo img {
  width: 137px;
  transform: none;
  /* margin-left: -12px; */
}
.nav-logo {
  margin-top: 0;
  width: auto;
  display: flex;
  align-items: center;
}
.menu-text {
  position: absolute;
  bottom: -4px;
  left: 0;
  font-size: 11px;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}
.icon-search:before {
  font-weight: bold;
}
.icon-search {
  transform: rotate(90deg);
}
.us-btns .icon {
  margin: 0 8px;
}
/* Navbar */

/* Home Slider */
.swiper-header {
  padding-bottom: 60px;
}
.slider-card {
  background-image: url("../img/slider-bg.png");
  height: 580px;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 100px 70px;
  display: flex;
  align-items: flex-end;
  position: relative;
  border-radius: 31px;
  overflow: hidden;
}
.slca-img {
  position: absolute;
  left: 220px;
  bottom: 0;
  width: 460px;
}
.line-hori-bg {
  width: 65px;
  height: 7px;
}
.slca-bg-title {
  color: #3d519a;
  font-weight: bold;
  font-size: 55px;
}
.slca-text {
  color: #505050;
  font-size: 23px;
  font-weight: 600;
}
.page-header-view {
  border-radius: 31px;
  border: 1px solid #bfd2fc;
}
.swiper-header * {
  text-align: right;
}
.swiper-pagination {
  width: auto !important;
  bottom: 45px !important;
  left: 50px !important;
}
.swiper-container-horizontal
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  margin: 0 7px;
}
.swiper-pagination-bullet {
  width: 21px;
  height: 21px;
}
.swiper-pagination-bullet-active {
  background: #ffdcdc !important;
}
/* Home Slider */

/* Container Fwbg */
.container-fwbg {
  padding-bottom: 50px;
}
.content-fwbg {
  padding: 50px;
  background: #fff;
  /* border: 1px solid #666; */
  border-radius: 40px;
  box-shadow: 0px 2px 2px #00000017;
}

/* Training Programs */
.tpc-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}
.tpc-header .tpc-arrow {
  line-height: 1;
}
.tpc-arrow .icon {
  font-size: 38px;
  font-weight: 600;
  display: inline-block;
  color: #4d4a4a;
}
.tpc-bg-title {
  font-weight: 600;
  color: #0b389c;
  font-size: 29px;
}
.program-training-card-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.program-training-view {
  margin-bottom: 20px;
  width: 100%;
}
.program-training-card-title {
  font-size: 18px;
  font-weight: 600;
  color: #4b4b4b;
}
/* .training-programs-container .swiper-slide-next .program-training-view {
  border: 2px solid #a1ccff;
  background: #f0f7ff;
  border-radius: 30px;
} */
.more-programs-btn {
  line-height: 1;
  display: inline-block;
  border-radius: 50px;
  padding: 15px 26px;
  background: #0051bf;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
}
.more-programs-btn:hover {
  color: #fff;
  background: #024299;
}
.more-programs-btn:active {
  opacity: 0.6;
}
.more-programs-btn:focus {
  color: #fff;
}
/* Training Programs */
/* Container Fwbg */

/* Medical Consulting */
.med-cons-banner {
  background-image: linear-gradient(to right, #0454a5, #67d3e6);
  border-radius: 50px;
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
.med-cons-banner > div {
  width: 48.5%;
}
.med-cons-data {
  text-align: right;
}
.med-cons-data .text {
  color: #fff;
  font-size: 20px;
  line-height: 1.6;
}
.med-cons-view img {
  height: 345px;
  border-radius: 55px;
}
.asterisk-icon {
  width: 64px;
}
/* Medical Consulting */

/* AVM Container */
.avm-container {
  padding: 80px 0 50px;
}
.avm-card {
  border: 2px solid #b1b1b1;
  padding: 60px 40px 50px;
  border-radius: 40px;
  text-align: right;
  margin-bottom: 30px;
}
.avm-card img {
  width: 72px;
}
.avm-card .bg-title {
  color: #888383;
}
.avm-card .text {
  color: #5c5c5c;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.6;
}
.avm-card .main-normal-btn .icon {
  font-size: 13px;
}
/* AVM Container */

/* Discussions Container */
.discussions-header .bg-title {
  font-size: 33px;
  color: #4b6886;
  margin-right: 23px;
}
.discussions-header img {
  width: 65px;
}
.disscussions-box {
  display: flex;
  justify-content: space-between;
}
.disscussions-box > div {
  width: 48.5%;
}
.disscussions-view img {
  width: 100%;
}
.disscussions-data {
  border-top: 1px solid #c9c9c9;
}
.qa-row {
  padding: 24px 0;
  text-align: right;
  border-bottom: 1px solid #c9c9c9;
}
.question-title {
  font-weight: 600;
  font-size: 24px;
  color: #50575f;
  margin-bottom: 11px;
}
.answer-body {
  color: #504d4d;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.5;
  margin-bottom: 12px;
}
.qa-btn div {
  font-weight: 600;
  font-size: 18px;
  color: #6c6c6c;
}
.qa-btn .plus-icon {
  font-size: 42px;
  color: #c913ab;
  line-height: 1;
  margin-left: 7px;
}
.qa-read-more {
  text-align: right;
}
/* Discussions Container */

/* Schedule Container */
.schedule-container {
  padding: 70px 0 0;
  margin-top: 70px;
  border-top: 1px solid #c9c9c9;
}
.schedule-content {
  display: flex;
  justify-content: space-between;
}
.schedule-content > div {
  width: 48.5%;
}
.schedule-view {
  height: 100%;
}
.schedule-tabs {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 30px;
}
.schedule-card {
  padding: 15px 21px;
  border-radius: 24px;
  color: #fff;
  cursor: pointer;
}
.sc-month {
  font-size: 24px;
  margin-top: -6px;
  font-weight: 600;
}
.sc-day {
  font-weight: bold;
  font-size: 37px;
  line-height: 1;
}
.sc-plus {
  font-size: 40px;
  line-height: 1;
}
.schedule-content .sd-bg {
  border: 1px solid #70707020;
  background: #67d3e620;
  height: 100%;
  border-radius: 36px;
  padding: 40px;
  display: none;
}
/* .main-sd-view {
  display: none;
} */
.sd-bg.active {
  display: block !important;
}
.sd-bg-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sd-bg .sc-top {
  color: #4c8cde;
}
.close-tab-btn .icon {
  color: #4c8cde;
  font-size: 18px;
  font-weight: bold;
}
.sd-bg-content {
  text-align: right;
}
.sd-bg-content .bg-title {
  font-size: 30px;
  line-height: 1.3;
  color: #4c8cde;
}
.sd-bg-content .text {
  color: #5c5c5c;
  font-size: 19px;
  font-weight: 600;
  line-height: 1.6;
}
.schedule-card-btn.active {
  opacity: 0.4;
}
/* Schedule Container */

/* Footer */
footer {
  background: #3fb5ea;
}
.footer-upper {
  padding: 45px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-logo {
  color: #fff;
  font-weight: 500;
  font-size: 21px;
}
.footer-logo span {
  font-size: 23px;
  letter-spacing: 1.2px;
  font-weight: 600;
}
.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px 0;
  border-top: 1px solid #fff;
}
.footer-bottom-text {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
}
.footer-links {
  display: flex;
  min-width: 500px;
  text-align: right;
  max-width: 100%;
}
.footer-links > div {
  width: 33%;
  margin: 0 15px;
}
.footer-link {
  display: block;
  color: #fff;
  font-size: 20px;
  margin-bottom: 11px;
}
.footer-link:hover {
  color: #3d519a;
}
.footer-contact {
  text-align: right;
}
.footer-contact .title {
  color: #fff;
}
.contact-form {
  background: #fff;
  border-radius: 50px;
  display: flex;
  overflow: hidden;
}
.contact-form input {
  min-width: 350px;
  padding: 12px 23px;
}
.contact-form input {
  font-size: 19px;
}
.contact-form input::placeholder {
  font-size: 17px;
  color: #6c6c6c;
  /* font-weight: 600; */
}
.subscribe-btn {
  padding: 0 27px;
  color: #6c6c6c;
  border-right: 1px solid #d0d0d0;
}
.subscribe-btn:hover {
  color: #fff;
  background: #3d519a;
  border-right: 1px solid #3d519a;
}
.subscribe-btn:active {
  color: #fff;
  background: #2d3d76;
  border-right: 1px solid #2d3d76;
}
.subscribe-btn div {
  font-weight: 600;
}
.subscribe-btn .icon {
  font-weight: bold;
  font-size: 22px;
  margin-right: 8px;
}
.footer-socialmedia {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-socialmedia * {
  color: #fff;
}
.socialmedia {
  display: flex;
}
.footer-social {
  font-size: 22px;
  margin-right: 16px;
  display: flex;
  align-items: center;
}
.footer-social:hover i {
  color: #3d519a;
}
.footer-social:active i {
  color: #2d3d76;
}
.social-text {
  font-weight: 600;
  font-size: 18px;
}
/* Footer */

/* About Page */
.border-corner {
  height: 15px;
  border-radius: 50px;
}
.about-dh-container {
  padding: 50px 0;
}
.about-dh-text .body,
.awre-details .body {
  font-size: 19px;
  line-height: 1.7;
  font-weight: 600;
  color: #626777;
}
.awards-recognitions {
  display: flex;
  justify-content: space-between;
  text-align: right;
  margin-bottom: 120px;
}
.awards-recognitions > div {
  width: 48.5%;
}
.awre-details .title {
  font-size: 37px;
  color: #020d88;
}
.list-row {
  display: flex;
  align-items: center;
}
.list-row {
  margin-bottom: 15px;
}
.list-row:last-of-type {
  margin: 0;
}
.list-row .text {
  color: #212020;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.7;
}
.list-row .icon {
  color: #847b8d;
  font-size: 22px;
  margin-left: 22px;
}
.about-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 30px;
}
.about-card {
  text-align: right;
  background: #f8f8f8;
  border: 1px solid #efeded;
  border-radius: 40px;
  padding: 90px 50px;
}
.about-card img {
  height: 100px;
}
.about-card .title {
  color: #020d88;
  font-size: 35px;
  font-weight: bold;
}
.about-c-list .text {
  color: #01063e80;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.6;
}
/* About Page */

/* Programs Trainings Page */
.tra-pro-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 45px;
}
/* Programs Trainings Page */

/* Article Page */
.body-article {
  font-size: 22px;
  line-height: 1.73;
  font-weight: 600;
  color: #4882e5;
}
.articles-cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 30px;
}
.article-card {
  border: 1px solid #b1b1b1;
  border-radius: 25px;
  overflow: hidden;
}
.article-c-view {
  width: 100%;
}
.article-card-title {
  font-size: 22px;
  color: #363636;
  font-weight: 600;
  margin-bottom: 13px;
}
.article-card-data {
  border-top: 1px solid #b1b1b1;
  padding: 24px 35px;
  border-radius: 0 0 25px 25px;
  text-align: right;
}
.article-card-btn .mnd-text {
  font-weight: 600;
}
.article-card-btn .icon {
  font-size: 14px;
}
/* Article Page */

/* Contact Page */
.contact-dh-text {
  margin-bottom: 130px;
}
.contact-dh-text .body {
  font-size: 22px;
  color: #3e3d3d;
  font-weight: 600;
}
.contact-container {
  text-align: right;
  margin-bottom: 80px;
}
.contact-info-address {
  color: #393939;
  font-size: 20px;
  margin-bottom: 10px;
}
.contact-info-phones > div {
  font-size: 20px;
  color: #393939;
  font-weight: 600;
  margin-bottom: 10px;
  direction: ltr;
}
.contact-mail {
  font-size: 21px;
  color: #393939;
  font-weight: 600;
}
.contact-inp {
  border: 1px solid #707070;
  padding: 8px 10px;
  width: 100%;
  font-size: 18px;
  margin-bottom: 20px;
  resize: none;
}
.contact-inp::placeholder {
  color: #393939;
}
.contact-submit {
  border: 2px solid #d0086b;
  color: #d0086b;
  width: 100%;
  font-size: 24px;
  font-weight: 600;
  padding: 10px;
}
.contact-submit:hover {
  background: #d0086b;
  color: #fff;
}
.contact-submit:active {
  border: 2px solid #b2095c;
  background: #b2095c;
  color: #fff;
}
/* Contact Page */

/* View Program Page */
.program-view-text .body {
  color: #555454;
  font-weight: 600;
  font-size: 19px;
  line-height: 1.6;
  margin-bottom: 100px;
}
.program-view-details {
  text-align: right;
  padding-bottom: 100px;
  margin-bottom: 70px;
  border-bottom: 1px solid #818181;
}
.prvide-bg-title {
  font-size: 25px;
  font-weight: 600;
  border-bottom: 5px solid #efefef;
  padding-bottom: 21px;
  margin-bottom: 42px;
}
.prvide-title {
  font-weight: 600;
  font-size: 21px;
  margin-bottom: 10px;
}
.prvide-body {
  color: #626262;
  font-size: 20px;
  font-weight: 600;
}
.prvide-list .prli-rw {
  position: relative;
  display: flex;
  align-items: center;
  color: #393939;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 13px;
}
.prli-rw-circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 1px solid #d9d9d9;
  background: #e3e3e3;
  margin-left: 27px;
}
.prvide-sidebar-header {
  border-bottom: 1px solid #a3a3a3;
  padding-bottom: 27px;
}
.prvide-sidebar-header .btn-corner {
  padding: 7px 18px;
}
.prvide-sidebar-header .btn-corner-text {
  font-size: 16px;
}
.prvide-sidebar-header .btn-corner-div .icon {
  font-size: 18px;
}
.prvide-sidebar-details {
  padding: 17px 0;
  border-bottom: 1px solid #a3a3a3;
}
.prvide-sidebar-details .body {
  font-size: 19px;
  font-weight: 600;
  color: #6e6d6d;
}
/* View Program Page */

/* Discussions Page */
.discussion-title-img {
  width: 75px;
}
.tell-story {
  padding: 90px 0 40px;
  text-align: right;
}
.tell-story-bg {
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 47px;
  border: 1px solid #eaeaea;
  padding: 70px;
  position: relative;
}
.tell-story-form {
  width: 580px;
  max-width: 100%;
  padding: 45px 35px;
  border-radius: 30px;
  background: #f8f8f8;
  border: 1px solid #c9c9c9;
}
.tell-story-input {
  margin-bottom: 15px;
}
.tell-story-input input::placeholder,
.tell-story-input textarea::placeholder {
  font-weight: 600;
  font-size: 16px;
  color: #414141;
}
.tell-story-input input,
.tell-story-input textarea {
  background: #fff;
  border: 1px solid #ededed;
  width: 100%;
  border-radius: 8px;
  padding: 9px 15px;
  color: #000;
  font-size: 18px;
  resize: none;
}
.tell-stroy-submit {
  border: 2px solid #d0086b;
  border-radius: 8px;
  color: #d0086b;
  width: 100%;
  font-size: 22px;
  font-weight: 600;
  padding: 9px;
}
.tell-stroy-submit:hover {
  background: #d0086b;
  color: #fff;
}
.tell-stroy-submit:active {
  border: 2px solid #b2095c;
  background: #b2095c;
  color: #fff;
}
.tell-story-char {
  position: absolute;
  bottom: 0;
  left: 0;
  bottom: -7px;
  height: 612px;
  max-width: 100%;
}
.stories-text {
  padding: 150px 0 90px;
}
.stories-text .body {
  font-size: 19px;
  font-weight: 600;
  color: #404040;
  line-height: 1.6;
}
.stories-discussions {
  border-top: 5px solid #085aae;
}
.send-story-banner {
  padding: 35px;
  border-radius: 40px;
  background: #1349cd;
  color: #fff;
  margin-top: 70px;
}
.at2 {
  font-size: 55px;
  line-height: 1;
}
.send-story-banner .text {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  line-height: 1.7;
}
.stories-discussions .qa-row .question-title {
  color: #04468b;
}
.stories-discussions .qa-row .answer-body {
  height: 49.5px;
  overflow: hidden;
}
.stories-discussions .qa-row.active .answer-body {
  height: auto;
  overflow: visible;
}
/* Discussions Page */

/* What We Do Page */
.what-we-do-container {
  padding: 60px 0 100px;
}
.what-we-do-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 30px;
}
.what-we-do-sim-happ img {
  border-radius: 33px;
}
.wwd-card {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #b1b1b1;
  border-radius: 46px;
  overflow: hidden;
}
.wwd-card:nth-of-type(even) {
  flex-direction: column-reverse;
}
.wwd-card:nth-of-type(even) .wwd-clickable {
  border-bottom: 1px solid #b1b1b1;
  border-top: none;
}
.wwd-content {
  position: relative;
  overflow: hidden;
}
.wwd-dropdown {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #fafafa;
  left: 0;
  top: 100%;
  padding: 35px;
  text-align: right;
}
.wwd-card.active .wwd-dropdown {
  top: 0 !important;
}
.wwd-card:nth-of-type(even) .wwd-dropdown {
  top: auto;
  bottom: 100%;
}
.wwd-card.active:nth-of-type(even) .wwd-dropdown {
  bottom: 0 !important;
  top: auto !important;
}
.wwd-clickable {
  border-top: 1px solid #b1b1b1;
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 0 0 46px 46px;
}
.wwd-card:nth-of-type(even) .wwd-clickable {
  border-radius: 46px 46px 0 0 !important;
}
.wwd-clickable:after {
  position: absolute;
  content: "";
  left: 100%;
  top: -1.5px;
  width: 100%;
  height: 3px;
  background: #1e6ca5;
}
.wwd-card:nth-of-type(even) .wwd-clickable:after {
  bottom: -1.5px;
  top: auto;
}
.wwd-clickable:hover:after,
.wwd-card.active .wwd-clickable:after {
  left: 0;
}
.wwd-clickable .icon {
  font-weight: 600;
  font-size: 23px;
  display: inline-block;
}
.wwd-card.active .wwd-clickable .icon {
  transform: rotateZ(45deg);
  color: #000 !important;
}
.wwd-clickable .bg-title {
  color: #1e6ca5;
  font-size: 36px;
}
.wwd-medical-consulting .med-cons-banner {
  padding: 0;
}
.wwd-medical-consulting .med-cons-data {
  padding: 50px;
}
.wwd-medical-consulting .med-cons-view {
  padding: 5px;
}
.wwd-medical-consulting .med-cons-view img {
  border-radius: 45px 0 0 45px;
  height: 100%;
  max-height: 400px;
}
.our-services-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 30px;
}
.service-card {
  border: 1px solid #b1b1b1;
  border-radius: 17px;
  padding: 55px 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.service-card .title {
  color: #0b389c;
  font-size: 33px;
  font-weight: bold;
}
.nutrition-content {
  display: flex;
  justify-content: space-between;
}
.nutrition-content > div {
  width: 48.5%;
}
.nutrition-details {
  text-align: right;
}
.nutrition-details .bg-title {
  color: #07b5de;
  font-size: 57px;
}
.nut-row {
  display: flex;
  align-items: center;
  color: #4d4d4d;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 13px;
}
.nut-row-circle {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #e3e3e3;
  margin-left: 18px;
  display: block;
}
/* What We Do Page */

/* Video Page */
.video-header-content {
  background-image: linear-gradient(to top, #1141b8, #001072);
  height: 650px;
  border-radius: 46px 46px 0 0;
  position: relative;
  overflow: hidden;
}
.video-char-title {
  position: absolute;
  bottom: 0;
  left: 10px;
  font-size: 250px;
  font-weight: bold;
  line-height: 1;
  color: #07167640;
}
.video-char-view {
  position: absolute;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
  height: 620px;
  max-height: 100%;
}
.video-header-details {
  padding: 70px;
  text-align: right;
  margin-top: 80px;
}
.video-header-details .bg-title {
  color: #8ae7ff;
  font-size: 73px;
  text-shadow: 0px 3px 6px #00000020;
}
.video-header-details .sub-title {
  color: #ffffff;
  font-size: 21px;
}
.video-icon {
  display: flex;
  align-items: flex-end;
  margin-bottom: 41px;
}
.video-icon .vid-text {
  font-size: 45px;
  font-weight: bold;
  color: #bebebe;
  line-height: 1;
  margin: 0 15px;
}
.video-container {
  padding-bottom: 70px;
}
.video-content {
  padding: 80px 50px;
  border-radius: 0 0 46px 46px;
  background: #0b1a71;
}
.video-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 30px;
}
.video-card {
  text-align: right;
}
.vid-card-body {
  margin-bottom: 15px;
  position: relative;
}
.play-btn {
  position: absolute;
  bottom: 14px;
  left: 25px;
  color: #fff;
  line-height: 1;
  font-weight: bold;
  font-size: 50px;
}
.video-card .title {
  font-size: 21px;
}
.video-program {
  margin-bottom: 50px;
}
.more-videos-btn:hover {
  opacity: 0.7;
}
.more-videos-btn:active {
  opacity: 0.5;
}
.more-videos-btn .text {
  color: #fff;
  font-size: 24px;
  font-weight: 600;
  margin: 0 10px;
}
.more-videos-btn .icon {
  font-weight: bold;
  font-size: 20px;
}
.more-videos-container {
  margin-bottom: 90px;
}
/* Video Page */

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 540px;
  }
  .nav-links-content {
    max-width: 540px !important;
    margin: 0 auto;
  }
  .content-fwbg {
    padding: 45px 25px;
  }

  /* Footer */
  .footer-links {
    min-width: auto;
    max-width: 100%;
    flex-wrap: wrap;
  }
  .footer-links > div {
    width: 49%;
    margin: 0;
    margin-bottom: 30px;
  }
  .contact-form {
    max-width: 100%;
    margin-bottom: 25px !important;
  }
  .subscribe-btn {
    padding: 0 19px;
    font-size: 16px;
  }
  .subscribe-btn .icon {
    font-size: 19px;
  }
  .contact-form input {
    width: calc(100% - 107.08px);
    min-width: auto;
  }
  .footer-upper {
    padding: 35px 0;
  }
  .footer-logo {
    margin-bottom: 24px;
  }
  .footer-contact {
    width: 100%;
  }
  .footer-bottom {
    flex-wrap: wrap;
  }
  .footer-bottom-text {
    font-size: 15px;
    font-weight: 600;
  }
  /* Footer */
}

@media (max-width: 767.98px) {
  .page-header-view {
    height: auto;
  }

  /* Home Page */
  /* Slider */
  .slider-card {
    background-size: cover;
  }
  .slca-img {
    left: 50%;
    bottom: 0px;
    width: 315px;
    transform: translateX(-50%);
  }

  /* Trainings Programs */
  .program-training-view {
    width: 100%;
    height: auto;
  }
  .tpc-bg-title {
    font-size: 26px;
  }

  /* Medical Consulting */
  .med-cons-banner {
    flex-wrap: wrap;
    padding: 30px;
  }
  .med-cons-banner > div {
    width: 100%;
  }
  .med-cons-data {
    margin-bottom: 25px;
  }
  .med-cons-view img {
    height: auto;
  }
  .med-cons-data .bg-title {
    font-size: 32px;
  }
  .asterisk-icon {
    width: 60px;
  }

  /* AVM */
  .avm-card {
    padding: 47px 28px 40px;
  }
  .avm-card .text {
    font-size: 18px;
    margin-bottom: 2rem !important;
  }
  .avm-card img {
    width: 67px;
  }
  .avm-card .bg-title {
    font-size: 34px;
  }

  /* Discussions */
  .discussions-header img {
    width: 55px;
  }
  .disscussions-box {
    flex-wrap: wrap;
  }
  .disscussions-box > div {
    width: 100%;
  }
  .disscussions-view {
    margin-bottom: 50px;
  }

  /* Schedule */
  .schedule-view-box {
    margin-bottom: 40px;
  }
  .schedule-content {
    flex-wrap: wrap;
  }
  .schedule-content > div {
    width: 100%;
  }
  .schedule-tabs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 15px;
  }
  .sc-month {
    font-size: 23px;
  }
  .sc-day {
    font-size: 31px;
  }
  .schedule-card {
    padding: 15px 13px;
  }
  /* Home Page */

  /* Trainings Programs Page */
  .tra-pro-cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .tra-pro-cards .program-training-view {
    margin-bottom: 20px;
  }
  /* Trainings Programs Page */

  /* Articles Page */
  .articles-cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .article-c-view {
    height: auto;
  }
  /* Articles Page */

  /* Contact Us Page */
  .contact-info {
    margin-bottom: 70px;
  }
  .contact-dh-text {
    margin-bottom: 90px;
  }
  /* Contact Us Page */

  /* View Programs Page */
  .row-prvide .prvide-list-col:last-of-type {
    margin-bottom: 70px;
  }
  .prvide-sidebar-details:last-of-type {
    border: none;
  }
  /* View Programs Page */

  /* About Page */
  .awards-recognitions {
    flex-wrap: wrap;
  }
  .awards-recognitions > div {
    width: 100%;
  }
  .awre-details {
    margin-bottom: 35px;
  }
  .about-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .about-card {
    padding: 60px 30px;
  }
  .about-card img {
    height: 80px;
  }
  /* About Page */

  /* What We Do Page */
  .what-we-do-sim-happ img {
    border-radius: 10px;
  }
  .what-we-do-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .wwd-clickable .bg-title {
    font-size: 28px;
  }
  .wwd-card:nth-of-type(even) {
    flex-direction: column;
  }
  .wwd-card:nth-of-type(even) .wwd-clickable {
    border-top: 1px solid #b1b1b1;
    border-bottom: none;
    border-radius: 0 0 46px 46px !important;
  }
  .wwd-card:nth-of-type(even) .wwd-clickable:after {
    bottom: auto;
    top: -1.5px;
  }
  .wwd-card.active:nth-of-type(even) .wwd-dropdown {
    bottom: auto !important;
    top: 0 !important;
  }
  .wwd-card:nth-of-type(even) .wwd-dropdown {
    top: 100%;
    bottom: auto;
  }
  .our-services-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .wwd-medical-consulting .med-cons-data {
    padding: 30px;
  }
  .wwd-medical-consulting .med-cons-view img {
    height: auto;
    border-radius: 45px;
  }
  .nutrition-content {
    flex-wrap: wrap;
  }
  .nutrition-content > div {
    width: 100%;
  }
  /* What We Do Page */
}

@media (max-width: 1199.98px) {
  /* Navbar */
  .nav-logo img {
    width: 100px;
  }
  .nav-btns .us .ls-btn {
    font-size: 26px;
  }
  .us-btns .icon {
    margin: 0 5px;
  }
  .change-lang-btn .icon {
    font-size: 26px;
  }
  .menu-btn {
    display: block;
  }
  .nav-links {
    display: none;
    position: fixed;
    top: 88.06px;
    left: 0;
    width: 100%;
    height: calc(100% - 88.06px);
    background: #fff;
    padding: 0;
    border-top: 1px solid #cbcbcb;
    z-index: 100;
    overflow-y: auto;
  }
  .nav-links-content {
    padding: 0 15px;
  }
  .nav-links.active {
    display: block !important;
  }
  .nav-links-content {
    display: block;
    overflow-y: auto;
    text-align: right;
  }
  .nav-link {
    font-size: 32px;
    width: 100%;
    border-bottom: 1px solid #cbcbcb;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }
  /* Navbar */
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
    max-width: 540px;
  }
  .content-fwbg {
    padding: 30px;
  }

  /* Navbar */
  .nav-links-content {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 15px;
  }
  /* Navbar */

  /* Home Page */
  /* Trainings Programs */
  /* .program-training-view {
    width: 100%;
    height: auto;
  } */

  /* Schedule */
  .schedule-tabs {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
  }

  /* Home Page */

  /* Footer */
  .footer-links > div {
    margin: 0;
  }
  .footer-logo,
  .footer-links {
    margin-bottom: 24px;
  }
  .footer-bottom {
    flex-wrap: wrap;
  }
  .footer-bottom-text {
    font-size: 19px;
    font-weight: 500;
  }
  .footer-bottom-text:last-of-type {
    width: 100%;
    text-align: center;
  }
  /* Footer */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .container-fluid {
    max-width: 720px;
  }
  .content-fwbg {
    padding: 45px 30px;
  }
  .page-header-view {
    height: auto;
  }

  /* Navbar */
  .nav-logo img {
    width: 137px;
  }
  .nav-links {
    top: 111.78px;
    height: calc(100% - 111.78px);
  }
  .nav-links-content {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
  }
  /* Navbar */

  /* Home */
  /* Trainings Programs */
  .program-training-view {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
  }
  .program-training-card-data {
    display: block;
    text-align: right;
  }
  .program-training-card-title {
    margin-bottom: 12px;
  }

  /* Medical Consulting */
  .med-cons-banner {
    flex-wrap: wrap;
    padding: 30px;
  }
  .med-cons-banner > div {
    width: 100%;
  }
  .med-cons-data {
    margin-bottom: 35px;
  }
  .med-cons-view img {
    height: auto;
  }
  .med-cons-data .bg-title {
    font-size: 32px;
  }
  .asterisk-icon {
    width: 60px;
  }

  /* AVM */
  .avm-card {
    padding: 45px 25px;
  }

  /* Schedule */
  .schedule-tabs {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 10px;
  }
  .schedule-card {
    padding: 15px 15px;
  }
  .sc-month {
    font-size: 20px;
  }
  .sc-day {
    font-size: 31px;
  }
  .schedule-view {
    height: auto;
  }
  .schedule-content .sd-bg {
    padding: 40px 27px;
  }
  /* Home */

  /* Trainings Programs Page */
  .tra-pro-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
  /* Trainings Programs Page */

  /* Articles Page */
  .articles-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
  .article-c-view {
    height: 207px;
  }
  /* Articles Page */

  /* Footer */
  .footer-logo,
  .footer-links {
    margin-bottom: 24px;
  }
  /* Footer */
  /* Contact Us Page */
  .contact-info {
    margin-bottom: 70px;
  }
  .contact-dh-text {
    margin-bottom: 90px;
  }
  /* Contact Us Page */

  /* View Programs Page */
  .row-prvide .prvide-list-col:last-of-type {
    margin-bottom: 70px;
  }
  .prvide-sidebar-details:last-of-type {
    border: none;
  }
  /* View Programs Page */

  /* About Page */
  .about-card {
    padding: 50px 25px;
  }
  .about-card img {
    height: 70px;
  }
  /* About Page */

  /* What We Do Page */
  .what-we-do-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
  .wwd-clickable .bg-title {
    font-size: 28px;
  }
  .wwd-medical-consulting .med-cons-view img {
    border-radius: 45px;
    height: auto;
    max-height: auto;
  }
  .our-services-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
  /* What We Do Page */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .container-fluid {
    max-width: 960px;
  }
  .page-header-view {
    height: auto;
  }

  /* Navbar */
  .nav-logo img {
    width: 137px;
  }
  .us-btns .icon {
    margin: 0 7px;
  }
  .nav-btns .us .ls-btn {
    font-size: 28px;
  }
  .change-lang-btn .icon {
    font-size: 28px;
  }
  .nav-links {
    top: 111.78px;
    height: calc(100% - 111.78px);
  }
  .nav-links-content {
    max-width: 960px;
    padding: 0 50px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Navbar */

  /* Home */

  /* Slider */
  .slider-card {
    background-size: cover;
    padding: 76px 45px;
    height: 548px;
  }
  .slca-img {
    position: absolute;
    left: 20px;
    bottom: 0;
    width: 382px;
  }
  .slca-bg-title {
    font-size: 48px;
  }
  .slca-text {
    font-size: 20px;
  }

  /* Schedule */
  .schedule-tabs {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 10px;
  }
  .sc-day {
    font-size: 26px;
  }
  .sc-month {
    font-size: 19px;
  }
  .schedule-card {
    padding: 15px 13px;
  }

  /* AVM */
  .avm-card {
    padding: 40px 23px;
  }
  .avm-card img {
    height: 72px;
  }
  /* Home */

  /* Trainings Programs Page */
  .tra-pro-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  /* Trainings Programs Page */

  /* Articles Page */
  .articles-cards {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
  }
  .article-c-view {
    height: 285px;
  }
  /* Articles Page */

  /* What We Do Page */
  .what-we-do-grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 30px;
  }
  .wwd-medical-consulting .med-cons-view img {
    height: 441px;
    max-height: 100%;
    object-fit: cover;
  }
  /* What We Do Page */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
  .container-fluid {
    max-width: 1140px;
  }

  /* Navbar */
  .us-btns .icon {
    margin: 0 5px;
  }
  .nav-link {
    margin: 0 4px;
    font-size: 23px;
  }
  .nav-logo img {
    width: 110px;
  }
  /* Navbar */

  /* Home */
  /* Slider */
  .slca-img {
    left: 90px;
    width: 410px;
  }

  /* Schedule */
  .schedule-tabs {
    gap: 20px;
  }
  .schedule-card {
    padding: 15px 12px;
  }
  .sc-day {
    font-size: 31px;
  }
  .sc-month {
    font-size: 21px;
  }
  /* Home */

  /* Trainings Programs Page */
  .tra-pro-cards {
    gap: 35px;
  }
  /* Trainings Programs Page */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
  .container-fluid {
    max-width: 1320px;
  }

  /* Home */
  /* Slider */
  .slca-img {
    left: 220px;
    width: 450px;
  }
  /* Home */
}
