.careers-details {
  padding-top: 80px;
  padding-bottom: 80px;
}
.cd-container .title {
  font-size: 35px;
}
.features {
  padding-top: 40px;
}
.features-container .title {
  font-weight: normal;
  font-size: 37px;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 12.52rem;
  gap: 50px;
}
.feature-card {
  padding: 27px 35px;
  border: 2px solid #3c3c3c45;
}
.feat-action .btn-bg {
  background: #00b4ff;
  display: inline-flex;
  font-size: 18px;
  padding: 12px 33px;
}
.feat-action .btn-bg:hover {
  background: #03a3e5;
}
.feat-title {
  font-weight: 600;
  font-size: 28px;
  line-height: 1;
  color: #13396a;
  margin-bottom: 6px;
}
.feat-sub-title {
  font-weight: 500;
  color: #000e34;
  font-size: 19px;
  line-height: 1.2;
}
.feat-job {
  font-size: 18px;
  font-weight: 500;
  color: #000e34;
  margin: 15px 0;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  .careers-details {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .cd-container .title {
    font-size: 30px;
  }
  .text {
    font-size: 22px;
  }
  .features-container .title {
    font-size: 33px;
  }
  .features-grid {
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
  .feature-card {
    padding: 20px;
  }
  .feat-title {
    font-size: 23px;
  }
  .feat-job {
    font-size: 17px;
    margin-bottom: 1rem !important;
  }
  .feat-action .btn-bg {
    font-size: 17px;
    padding: 11px 23px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .cd-container .title {
    font-size: 31px;
  }
  .text {
    font-size: 22px;
  }
  .features-container .title {
    font-size: 33px;
  }
  .features-grid {
    gap: 15px;
  }
  .feature-card {
    padding: 25px;
  }
  .feat-title {
    font-size: 26px;
  }
  .feat-job {
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .cd-container .title {
    font-size: 34px;
  }
  .text {
    font-size: 23px;
  }
  .features-grid {
    gap: 20px;
  }
  .feature-card {
    padding: 25px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

@media (min-width: 1400px) {
}
