/* Variables */
/* Variables */
/* Global Styles */
* {
  font-family: 'Almarai', sans-serif;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-align: right; }

body,
html {
  scroll-behavior: smooth;
  height: 100%;
  width: 100%; }

a, a:hover, a:focus, a:active {
  text-decoration: none !important;
  cursor: pointer; }

a:hover, a:focus, a:active {
  color: #000;
  text-decoration: none !important; }

/* Global Styles */
/* Page */
.homepage {
  height: 100%;
  width: 100%;
  background: transparent linear-gradient(121deg, #6FB964 0%, #00935D 100%) 0% 0% no-repeat padding-box;
  text-align: center; }

.title,
.description {
  color: #fff; }

.logo {
  margin-bottom: 20px; }

.title {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600; }

.description {
  font-size: 21px;
  line-height: 2;
  font-weight: 400;
  margin-bottom: 35px; }

.homepage {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 50px 15px !important;
  overflow-y: auto; }

.homepage:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.center-vertical {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  width: 900px; }

.downloads a,
.sponsored a {
  display: inline-block; }

.downloads a {
  margin-left: 15px;
  margin-bottom: 30px; }

.sponsored a {
  margin-left: 15px; }

.mockup {
  height: 100%;
  background-image: url(../img/mockup.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left; }

/* Page */
/******************************************************** Media Queries ********************************************************/
@media (max-width: 575.98px) {
  .homepage:before {
    display: inline;
    vertical-align: inherit; }

  .center-vertical {
    width: auto; }

  .mockup {
    height: 400px;
    background-position-x: 6px;
    margin-bottom: 30px;
    background-position: center; }

  .logo,
  .title,
  .description {
    text-align: center; }

  .description {
    font-size: 18px; }

  .downloads,
  .sponsored {
    display: flex;
    justify-content: center; }

  .downloads a,
  .sponsored a {
    margin-left: 5px;
    margin-right: 5px; }

  .downloads a:last-of-type {
    margin-right: -3px; } }
@media (min-width: 576px) and (max-width: 767.98px) {
  .homepage:before {
    display: inline;
    vertical-align: inherit; }

  .center-vertical {
    width: 560px; }

  .mockup {
    height: 400px;
    background-position-x: 6px;
    margin-bottom: 30px;
    background-position: center; }

  .logo,
  .title,
  .description {
    text-align: center; }

  .description {
    font-size: 18px; }

  .downloads,
  .sponsored {
    display: flex;
    justify-content: center; } }
@media (min-width: 768px) and (max-width: 991.98px) {
  .center-vertical {
    width: 725px; }

  .downloads {
    display: flex; }

  .description {
    font-size: 19px; }

  .downloads a {
    margin-bottom: 20px; } }
@media (min-width: 992px) and (max-width: 1199.98px) {
  /** Main Rulz **/ }
/******************************************************** Media Queries ********************************************************/

/*# sourceMappingURL=theme.css.map */
