/* Auth Page */
.auth-content {
  width: 480px !important;
  max-width: 100%;
  background: #fff;
  padding: 30px;
  /* box-shadow: 0px 2px 2px #00000017; */
  margin-left: auto;
  margin-right: auto;
  border-radius: 33px;
}
.auth-content .title {
  font-size: 28px;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
}
.auth-box {
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  padding: 50px 33px;
}
.dont-have-text {
  padding-top: 15px;
  color: #707070;
  font-size: 17px;
  font-weight: 600;
}
.dont-have-text a {
  color: #000;
  font-weight: 600;
  font-size: 17px;
}
.select-country {
  border: none;
  min-width: 20%;
  padding-bottom: 0;
  color: #8d8d8d;
  font-size: 15px;
  font-weight: 600;
  position: relative;
  top: 4px;
}
.main-bt-primary {
  padding: 12px;
  font-weight: bold;
  background: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  width: 100%;
  font-size: 21px;
}
.main-bt-primary:hover {
  background: #333;
}
.main-bt-primary:active {
  opacity: 0.6;
}
.auth-content .input-group {
  padding-bottom: 6px;
  border-bottom: 1px solid #a8a8a8;
  position: relative;
}
.auth-content .input-group .cc-label {
  position: relative;
  top: 5px;
  font-size: 16px;
  color: #777;
  margin: 0;
}
.auth-content .form-control::placeholder {
  color: #8d8d8d;
  font-size: 17px;
}
.auth-content .form-control {
  padding: 0;
  color: #000;
  font-size: 21px;
  outline: none;
}
.center-vertically {
  padding-bottom: 75px;
  padding-top: 50px;
}
.auth-container {
  display: flex;
  place-items: center;
}
.form-control:focus {
  box-shadow: none;
}
/* Auth Page */
