.projects-container {
  padding-top: 40px;
}
.projects-grid-button .button-default > * {
  padding: 15px 31px;
  font-size: 18px;
}
.projects-grid-button .button-default .icon {
  font-size: 14px;
}
.vacation-filter {
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
}
.vacation-content {
  padding: 10px 0;
}
.vh-row > div {
  width: 50%;
}
.vh-bg {
  background-size: cover;
  background-position: center;
}
.vh-data {
  padding: 80px 55px;
  background-repeat: no-repeat;
  background-position-y: 74%;
  background-position-x: 90%;
  background-size: 120px;
}
.vh-title {
  line-height: 1;
  font-weight: 500;
}
.vh-icon .icon {
  font-size: 47px;
  color: #fff;
  margin-right: 15px;
}
.selectric .label {
  font-size: 19px;
  font-weight: 500;
}
.search-filter-selectbox {
  min-width: 200px;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
}
.selectric-items li {
  font-size: 17px;
  font-weight: 500;
}
.ps-group .icon {
  font-size: 21px;
  margin-right: 10px;
}
.ps-group input {
  font-size: 18px;
  line-height: 1;
  width: 100%;
}
.projects-search {
  width: 100%;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.projects-filter-btn {
  padding: 0 1.5rem;
  cursor: pointer;
}
.projects-filter-btn .icon {
  font-size: 21px;
}
.fil-txt {
  font-size: 21px;
  font-weight: 600;
  margin-left: 10px;
}
.vacation-row {
  align-items: center;
}

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .vacation-row {
    flex-wrap: wrap;
  }
  .vacation-content {
    padding: 0;
  }
  .vacation-dropdown {
    width: 100%;
    padding: 9px 0;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0;
  }
  .vacation-dropdown .search-filter-selectbox {
    margin: 0;
  }
  .projects-search {
    border: none;
    border-bottom: 1px solid #cecece;
  }
  .ps-group {
    padding: 7px 9px !important;
  }
  .projects-filter-btn {
    padding: 10px 0;
  }
  .vh-bg {
    height: 200px;
  }
  .vh-row > div {
    width: 100%;
  }
  .vh-data {
    padding: 30px 23px;
  }
  .vh-icon .icon {
    font-size: 38px;
  }
  .vh-title {
    font-size: 24px;
  }
  .projects-grid-button .button-default > * {
    padding: 13px 23px;
    font-size: 17px;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .search-filter-selectbox {
    margin: 0;
    min-width: auto !important;
  }
  .vacation-dropdown {
    width: 40% !important;
  }
  .search-filter-selectbox {
    width: 100%;
  }
  .projects-search {
    width: 53%;
  }
  .projects-filter-btn {
    padding: 0 1rem;
  }
  .vh-data {
    padding: 53px 19px;
  }
  .vh-icon .icon {
    font-size: 40px;
  }
  .vh-title {
    font-size: 19px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .vh-data {
    padding: 62px 35px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {
}
