.flextouch-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: flex-end;
  min-height: 100vh;
}
.flextouch-wrapper > div {
  width: 50%;
  flex-grow: 1;
}
.flextouch-left {
  background: #e9f3fd;
}
.flextouch-right {
  background: linear-gradient(175deg, #3286c4 0%, #010a72 100%);
}
.flextouch-right-body {
  min-height: calc(100vh - 35px);
  width: 100%;
  padding: 100px 50px 100px;
  place-items: center;
  display: flex;
}
.flextouch-logo img {
  width: 45px;
}
.flextouch-title {
  color: #fff;
  font-size: 40px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px;
}
.flextouch-input-group {
  min-width: 450px;
}
.flextouch-input-group input {
  background: #fff;
  width: 100%;
  padding: 8px 17px;
  border-radius: 6px;
  color: #000;
  font-size: 20px;
  margin-right: 10px;
  width: 100%;
}
.send-btn {
  font-size: 18px;
  color: #fff;
  border-radius: 8px;
  line-height: 1;
  padding: 7px 29px;
  background: #04b4dd;
}

.send-btn:hover {
  background: #07a4c8;
}
.send-btn:hover:active {
  opacity: 0.7;
}
.alert-text {
  color: #fff;
  font-size: 15px;
  margin-top: 12px;
}
